.our-case-studies-section {
  height: 1172px;
  background-color: #ffffff;

  .inner-container {
    width: auto;
    height: auto;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 40px;

    .title {
      margin-top: 100px;

      font-family: "Inter Black";
      font-weight: 900;
      font-size: 48px;
      color: #002033;
    }

    .regardify-logo {
      width: 175px;
      height: 46px;
      img {
        object-fit: contain !important;
      }
    }

    .content-container {
      position: relative;
      width: 1200px;
      height: 418px;
      display: flex;
      justify-content: space-around;
      align-items: center;

      border: 1px solid #bbc7dc;
      border-radius: 16px;
      background-color: #ffffff;
      box-shadow: 0px 0px 0px 3px #edf0f4;

      &:hover {
        border: 1px solid #3069e1;
        box-shadow: 0px 0px 0px 3px #b3d8fa;
        background-color: #f7f9fc;

        .see-case-study-btn {
          background-color: #202630;
          color: #ffffff;
        }
      }

      .left-side-container {
        position: absolute;
        top: 32px;
        left: 32px;
        width: 359px;
        height: 285px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .content-p {
          font-family: "Inter Regular";
          font-weight: 400;
          font-size: 16px;
          color: #002033;
          margin-top: 40px;
        }

        .span-container {
          display: flex;
          flex-wrap: wrap;
          width: 311px;
          gap: 8px;

          span {
            padding: 4px 6px;
            margin-top: 12px;

            font-family: "Inter SemiBold";
            font-weight: 600;
            font-size: 13px;
            color: #ffffff;

            background-color: #3069e1;
            border-radius: 100px;
          }
        }

        // .see-case-study-btn.two {
        //   background-color: #202630;
        //   color: #ffffff;
        // }

        .see-case-study-btn {
          width: 187px;
          height: 48px;
          display: flex;
          padding: 0px 16px;
          align-items: center;
          text-align: center;
          justify-content: space-around;
          cursor: pointer;

          font-family: "Inter Bold";
          font-weight: 700;
          font-size: 16px;
          color: #002033;

          border: 1px solid #bbc7dc;
          border-radius: 6px;
          background-color: transparent;

          .see-case-btn-img {
            width: 24px;
            height: 24px;
            img {
              object-fit: contain !important;
            }
          }
        }
      }

      .right-side-container {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 743px;
        height: 294px;

        border: 1px solid #d8dde5;
        border-radius: 16px 0;

        .regardify-img {
          border-radius: 16px 0;
          img {
            width: 743px;
            height: 294px;
            object-fit: contain !important;
          }
        }
      }
    }

    .see-more-btn {
      height: 48px;
      text-align: center;
      padding: 12px 16px;
      cursor: pointer;

      background-color: #fe804a;
      border-radius: 6px;
      border: none;

      font-family: "Inter Bold";
      font-weight: 700;
      font-size: 16px;
      color: #ffffff;
    }
  }
}
