.reviews-section {
  background: url("../../../images/rev-bg.png") #f7f9fc;
  background-repeat: no-repeat;
  background-size: cover;

  .inner-container {
    height: 550px;

    .reviews-title {
      font-family: "Inter Black";
      font-weight: 900;
      font-size: 48px;
      color: #002033;
    }

    .reviews-card-container {
      width: 1200px;
      height: 406px;
      display: flex;
      justify-content: space-between;

      .reviews-card {
        width: 374px;
        height: 406px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 20px;

        background-color: #ffffff;
        border: 1px solid #bbc7dc;
        box-shadow: 0px 0px 0px 3px #edf0f4;
        border-radius: 16px;

        .card-title {
          font-family: "Inter Bold";
          font-weight: 700;
          font-size: 20px;
          color: #002033;
        }

        .card-d {
          font-family: "Inter Regular";
          font-weight: 400;
          font-size: 16px;
          text-align: start;
          color: #002033;
        }

        .card-avatar-container {
          width: 309px;
          height: 50px;
          align-items: center;
          justify-content: space-between;
          display: flex;

          .card-avatar-img {
            width: 40px;
            height: 40px;
            img {
              object-fit: contain !important;
            }
          }

          .name {
            width: 258px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            font-family: "Inter Regular";
            font-weight: 400;
            font-size: 16px;
            color: #002033;
          }

          .role {
            width: 258px;
            display: flex;
            align-items: center;

            font-family: "Inter Regular";
            font-weight: 400;
            font-size: 16px;
            color: #5d6873;
          }
        }
      }
    }

    .rev-circle-img {
      width: 76px;
      height: 16px;
      img {
        object-fit: contain !important;
      }
    }
  }
}
