.technology-experts-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 841px;
  background-image: url("../../../images/bg.png");
  background-repeat: no-repeat;
  background-size: contain;

  .title {
    font-family: "Inter Black";
    font-display: swap;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    color: #002033;
  }

  .inner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1200px;
    gap: 40px;
  }

  .items-container {
    display: flex;
    width: 100%;
    justify-content: space-between;

    .technology-items {
      width: 384px;
      height: 245px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 32px 0 0 32px;
      box-shadow: inset 0px 0px 13px -1px #d5e0f0;
      border-radius: 16px;
      background-color: #ffffff;
      cursor: pointer;
    }

    .card-title {
      font-family: "Inter Bold";
      font-display: swap;
      font-weight: 700;
      font-size: 24px;
      color: #002033;
    }

    p {
      width: 336px;
      font-family: "Inter Regular";
      font-display: swap;
      font-weight: 400;
      font-size: 16px;
      color: #002033;
    }

    .span-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 311px;
      gap: 10px;

      span {
        font-family: "Inter SemiBold";
        font-display: swap;
        font-weight: 600;
        font-size: 13px;
        color: #002033;
        background-color: #e6ebf0;
        border-radius: 100px;
        padding: 4px 6px;
      }
    }
  }
}
