.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .child-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 700px;
    height: 700px;
    background-color: #fff;
    border-radius: 10px;

    .img {
      width: 200px;
      height: 200px;
      object-fit: cover;
      margin: 10px;
    }

    h2 {
      margin-left: 10px;
    }

    .descrip {
      p {
        padding: 10px;
        text-align: center;
      }
    }
  }
}
