.header {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 80px;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .logo {
    a {
      color: #000;
      text-decoration: none;
      font-family: "Inter Bold";
      font-weight: 700;
      font-size: 16px;

      .web_logo {
        width: 58px;
        height: 58px;
        object-fit: cover;
      }
    }
  }
  .menu {
    height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .menu-list {
      width: 585px;
      display: flex;
      justify-content: space-between;
      margin-right: 30px;
      padding: 0;
      list-style: none;

      .menu-item {
        align-items: center;
        a {
          color: #000;
          text-decoration: none;
          font-family: "Inter SemiBold";
          font-weight: 600;
          font-size: 16px;

          &.bottom-line {
            border-bottom: 4px solid #2b2b2b;
          }

          .header-item-arrow {
            width: 16px;
            height: 16px;
            margin-left: 4px;
            img {
              object-fit: contain !important;
            }
          }
        }
      }
    }
    .header-button {
      padding: 12px 16px;

      background-color: #fe804a;
      border-radius: 6px;
      border: none;
      cursor: pointer;

      a {
        color: #ffffff;
        text-decoration: none;
        font-family: "Inter Bold";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
      }
    }
  }
}
